.about {
    position: relative;
    background: var(--primary-color);
    margin: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: slateblue;
    transform-origin: right center;
    &--addition {
        @extend .about__bg;
        background-color: var(--primary-color);
    }
}


.about__container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    color: var(--text-color);
    font-size: 1rem;
    @media (min-width: 768px) {
        padding: 15px 30px;
    }
    h2 {
        visibility: hidden;
        font-family: 'Space Mono';
        margin-top: 100px;
        font-size: 1.5em;
    }
    h4 {
        font-family: 'Poppins';
        font-weight: 400;
        margin: 10px 0;
        overflow: hidden;
        .line {
            visibility: hidden;
        }
    }
    @media (min-width: 768px) {
        font-size: 1.3rem;
    }
}