.banner {
    position: relative;  //wrap the banner
    height: 90vh;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.banner__container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        padding: 15px 30px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.banner__bg, .banner__bg--addition {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:slateblue;
}

.banner__bg--addition {
    background-color: var(--primary-color);
}


.banner__inner {
    order: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 768px) {
        width: 50%;
        order: 0;
    }
    h1 {
        visibility: hidden;
        font-family: 'Space Mono';
        margin: 1rem 0;
        @media (min-width: 768px) {
            font-size: 3.5rem;
        }
    }
    h3 {
        visibility: hidden;
        font-family: 'Poppins';
        font-weight: 400;
        @media (min-width: 768px) {
            font-size: 1.3rem;
        }
    }
    p {
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 0.875rem;
    }
    .social {
        visibility: hidden;
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            margin-right: 1.5rem;
            transition: all 0.3s;
            &:hover {
                transform: translateY(-8px);
            }
        }
    }
}

.banner__image {
    visibility: hidden;
    position: relative;
    width: 40%;
    align-self: center;
    img {
        width: 100%;
        height: auto;
    }
}