@import './Variables.scss';

* {
    box-sizing: border-box;
}
body {
    font-family: system-ui;
    margin: 0;
    overflow-x: hidden;
}

@import './Header.scss';
@import './Banner.scss';
@import './Work.scss';
@import './WorkItem.scss';
@import './About.scss';
@import './About.scss';
@import './MobileNav.scss';
@import './Footer.scss';
