.mobile-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    nav {
        ul {
            list-style-type: none;
            padding: 0;

            li a {
                display: block;
                padding: 20px;
                color: var(--text-color);
                font-family: 'Space Mono';
                text-decoration: none;
                text-align: center;
                font-size: 1rem;
            }
        }

    }
}