.mobile-nav {
    span {
        position: absolute;
        top: 15px;
        right: 15px;
        color: var(--text-color);
        font-size: 2rem;
        cursor: pointer;
    }
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    nav {
        ul {
            list-style-type: none;
            padding: 0;

            li a {
                display: block;
                padding: 20px;
                color: var(--text-color);
                font-family: 'Space Mono';
                text-decoration: none;
                text-align: center;
                font-size: 1rem;
                @media (min-width: 425px) {
                    font-size: 1.3rem;
                }
            }
        }

    }
}