.work {
    background-color: var(--primary-color);
    h2 {
        padding: 15px;
        color: var(--text-color);
        font-family: 'Space Mono';
        margin-top: 0;
        @media (min-width: 768px) {
            padding: 15px 30px;
        }
    }
}

.doraemon {
    visibility: hidden;
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
        padding: 15px;
        color: var(--text-color);
        font-family: 'Space Mono';
        @media (min-width: 768px) {
            padding: 15px 30px;
        }
    }
}

.work__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}